# === Core Libraries ===
pandas
numpy

# === Plotting Libraries ===
matplotlib
seaborn
plotly

# === Data Analysis & Utility Libraries ===
scipy
skimpy
missingno

# === Feature Engineering ===
feature-engine

# === Scikit-learn ===
scikit-learn

# === Other Machine Learning Models ===
xgboost
lightgbm

# === Hyperparameter Optimization ===
optuna

